/* .active {
  width: 150px;
  height: 150px;
} */
.htmlDiv {
  width: 100px;
  height: 30px;
}
.htmlDiv:nth-child(2n){
  background-color: purple;
}
.htmlDiv:nth-child(2n-1){
  background-color: blue;
}